.App {
  font-family: sans-serif;
  text-align: center;
  height: 100px;
  position: relative;
}

.other {
  position: relative;
  height: 100px;
  background: #ff000f;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff00ff;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
